p,form,h1,h2,h3,h4,h5,h6
{
	font-family:sans-serif;
	color: #161617;
}

body
{
	background-color: #dfe2e6;
}

h1
{
	text-align: center;
}

div
{
    width: 94%;
    margin: auto;
    border: 2px solid black;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
    text-align: left;
    background-color: #c0c5ce;
    border-radius: 8px;
}

textarea {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
